<div class="container">
    <h1 class="text-center my-4">Abhinav Namdeo Todo List</h1>
    <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
    <br>
    <hr>
    <hr>
    <h3 class="my-4 text-decoration-underline">Your Todos</h3>
    <div *ngIf="this.todos.length===0" else elseBlock>No Content to show</div>
    <div class="container" #elseBlock>
        <div class="row">
            <div *ngFor="let todo of todos; index as i" class="col-md-4">
                <app-todo-item [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoEdit)="editTodo($event)"
                    (todoCheck)="checkTodo($event)"></app-todo-item>
            </div>
        </div>
    </div>
</div>