<!-- Events in angular -->
<button (click)="getPress()">Click me</button>
<input type="text" (keypress)="getData(data1.value)" #data1 placeholder="keypress"> <!--Hit on Keypress -->
<input type="text" (keyup)="getData(data2.value)" #data2 placeholder="keyup"> <!--Hit on Keyup-->
<input type="text" (keydown)="getData(data3.value)" #data3 placeholder="keydown"> <!--Hit on Keydown-->
<input type="text" (blur)="getData(data4.value)" #data4 placeholder="blur"> <!--Hit on when focus released-->
<h4 (mouseover)="getPress()">Hover me</h4>

<!-- If Else in angular -->

    <!-- First method to make if else in angular -->
<div *ngIf="show; else elseDiv">If Condition</div>
<ng-template #elseDiv>Else Condition</ng-template>

    <!-- Second method to make if else in angular -->
<div *ngIf="show then ifblock else elseblock"></div>
<ng-template #ifblock>second if block</ng-template>
<ng-template #elseblock>second else block</ng-template>

    <!-- Multiple if and elseif and else Condition -->
<ng-template [ngIf]="color==='red'">
    <h1 style="color: red;">Red color</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1 style="color: Green;">Green color</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1 style="color: blue;">Blue color</h1>
</ng-template>

<!-- Switch case in angular -->
<div [ngSwitch]="switchColor">
    <h1 *ngSwitchCase="'Red'" style="color: Red;">Red Color</h1>
    <h1 *ngSwitchCase="'Blue'" style="color: Blue;">Blue Color</h1>
    <h1 *ngSwitchCase="'Green'" style="color: Green;">Green Color</h1>
    <h1 *ngSwitchCase="'Orange'" style="color: Orange;">Orange Color</h1>
    <h1 *ngSwitchCase="'Pink'" style="color: Pink;">Pink Color</h1>
    <h1 *ngSwitchCase="'Gold'" style="color: Gold;">Gold Color</h1>
    <h1 *ngSwitchCase="'Silver'" style="color: Silver;">Silver Color</h1>
    <h1 *ngSwitchDefault>Unknown Color</h1>
</div>

<!-- For loop in angular -->
<div *ngFor="let user of users">
    <h5>{{user}}</h5>
</div>